<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjq.programmer.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yjq.programmer.domain.Order">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="trade_no" jdbcType="CHAR" property="tradeNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="cinema_id" jdbcType="CHAR" property="cinemaId" />
    <result column="movie_id" jdbcType="CHAR" property="movieId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="session_time" jdbcType="TIMESTAMP" property="sessionTime" />
    <result column="cinema_name" jdbcType="VARCHAR" property="cinemaName" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="session_hall" jdbcType="VARCHAR" property="sessionHall" />
    <result column="session_id" jdbcType="CHAR" property="sessionId" />
    <result column="movie_photo" jdbcType="VARCHAR" property="moviePhoto" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, trade_no, create_time, user_id, cinema_id, movie_id, `state`, movie_name, session_time,
    cinema_name, total_price, session_hall, session_id, movie_photo
  </sql>
  <select id="selectByExample" parameterType="com.yjq.programmer.domain.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.yjq.programmer.domain.OrderExample">
    delete from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yjq.programmer.domain.Order">
    insert into orders (id, trade_no, create_time,
      user_id, cinema_id, movie_id, `state`,
      movie_name, session_time, cinema_name,
      total_price, session_hall, session_id,
      movie_photo)
    values (#{id,jdbcType=CHAR}, #{tradeNo,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{userId,jdbcType=CHAR}, #{cinemaId,jdbcType=CHAR}, #{movieId,jdbcType=CHAR}, #{state,jdbcType=INTEGER},
      #{movieName,jdbcType=VARCHAR}, #{sessionTime,jdbcType=TIMESTAMP}, #{cinemaName,jdbcType=VARCHAR},
      #{totalPrice,jdbcType=DECIMAL}, #{sessionHall,jdbcType=VARCHAR}, #{sessionId,jdbcType=CHAR},
      #{moviePhoto,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yjq.programmer.domain.Order">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tradeNo != null">
        trade_no,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="cinemaId != null">
        cinema_id,
      </if>
      <if test="movieId != null">
        movie_id,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="movieName != null">
        movie_name,
      </if>
      <if test="sessionTime != null">
        session_time,
      </if>
      <if test="cinemaName != null">
        cinema_name,
      </if>
      <if test="totalPrice != null">
        total_price,
      </if>
      <if test="sessionHall != null">
        session_hall,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="moviePhoto != null">
        movie_photo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null">
        #{tradeNo,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=CHAR},
      </if>
      <if test="cinemaId != null">
        #{cinemaId,jdbcType=CHAR},
      </if>
      <if test="movieId != null">
        #{movieId,jdbcType=CHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="movieName != null">
        #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="sessionTime != null">
        #{sessionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cinemaName != null">
        #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sessionHall != null">
        #{sessionHall,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=CHAR},
      </if>
      <if test="moviePhoto != null">
        #{moviePhoto,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yjq.programmer.domain.OrderExample" resultType="java.lang.Integer">
    select count(*) from orders
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orders
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.tradeNo != null">
        trade_no = #{record.tradeNo,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=CHAR},
      </if>
      <if test="record.cinemaId != null">
        cinema_id = #{record.cinemaId,jdbcType=CHAR},
      </if>
      <if test="record.movieId != null">
        movie_id = #{record.movieId,jdbcType=CHAR},
      </if>
      <if test="record.state != null">
        `state` = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.movieName != null">
        movie_name = #{record.movieName,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionTime != null">
        session_time = #{record.sessionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.cinemaName != null">
        cinema_name = #{record.cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="record.totalPrice != null">
        total_price = #{record.totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.sessionHall != null">
        session_hall = #{record.sessionHall,jdbcType=VARCHAR},
      </if>
      <if test="record.sessionId != null">
        session_id = #{record.sessionId,jdbcType=CHAR},
      </if>
      <if test="record.moviePhoto != null">
        movie_photo = #{record.moviePhoto,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orders
    set id = #{record.id,jdbcType=CHAR},
      trade_no = #{record.tradeNo,jdbcType=CHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=CHAR},
      cinema_id = #{record.cinemaId,jdbcType=CHAR},
      movie_id = #{record.movieId,jdbcType=CHAR},
      `state` = #{record.state,jdbcType=INTEGER},
      movie_name = #{record.movieName,jdbcType=VARCHAR},
      session_time = #{record.sessionTime,jdbcType=TIMESTAMP},
      cinema_name = #{record.cinemaName,jdbcType=VARCHAR},
      total_price = #{record.totalPrice,jdbcType=DECIMAL},
      session_hall = #{record.sessionHall,jdbcType=VARCHAR},
      session_id = #{record.sessionId,jdbcType=CHAR},
      movie_photo = #{record.moviePhoto,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yjq.programmer.domain.Order">
    update orders
    <set>
      <if test="tradeNo != null">
        trade_no = #{tradeNo,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="cinemaId != null">
        cinema_id = #{cinemaId,jdbcType=CHAR},
      </if>
      <if test="movieId != null">
        movie_id = #{movieId,jdbcType=CHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="movieName != null">
        movie_name = #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="sessionTime != null">
        session_time = #{sessionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cinemaName != null">
        cinema_name = #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="sessionHall != null">
        session_hall = #{sessionHall,jdbcType=VARCHAR},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=CHAR},
      </if>
      <if test="moviePhoto != null">
        movie_photo = #{moviePhoto,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yjq.programmer.domain.Order">
    update orders
    set trade_no = #{tradeNo,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=CHAR},
      cinema_id = #{cinemaId,jdbcType=CHAR},
      movie_id = #{movieId,jdbcType=CHAR},
      `state` = #{state,jdbcType=INTEGER},
      movie_name = #{movieName,jdbcType=VARCHAR},
      session_time = #{sessionTime,jdbcType=TIMESTAMP},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      session_hall = #{sessionHall,jdbcType=VARCHAR},
      session_id = #{sessionId,jdbcType=CHAR},
      movie_photo = #{moviePhoto,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>
